<% if(signupMessage){ %>
    <div><%= signupMessage%></div>
<%}%>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Insert email">
    <input type="password" name="password" placeholder="Insert password">
    <button type="submit">
        Signup
    </button>
</form>